#blog{
    .margin{
        .container{
            .left{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                }
                .card{
                    width: 48%;
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                    }
                    margin-bottom: 5vh;
                    color: #d9d9d9;
                    .imgBlog{
                        max-width: 100%;
                    }
                    h2{
                        font-size: 1.3rem;
                    }
                    .flexInfo{
                        display: flex;
                        gap: 1.2rem;
                        margin: 1.5vh 0 2.5vh 0;
                    }
                }
                nav{
                    display: flex;
                    justify-content: center;
                    padding: 10vh 0 5vh 0;
                    div{
                        display: flex;
                        gap: 1rem;
                        .page-numbers{
                            border: 1px $contrast solid;
                            color: white;
                            padding: 1rem 1.2rem;
                            transition: 0.3s;
                            &:hover{
                                background-color: $contrast;
                                color: black;
                            }
                        }
                        .current{
                            background-color: $contrast;
                            color: black;
                            padding: 1rem 1.2rem;
                        }
                    }
                }
            }
            .right{
                .categories{
                    .title{
                        padding: 1.5rem;
                        background-color: $secon;
                        color: #d9d9d9;
                        text-transform: uppercase;
                    }
                    .content{
                        padding: 1.5rem;
                        background-color: $secDark;
                        color: #d9d9d9;
                        border: $secon 1px solid;
                    }
                }
            }
        }
    }
}