.left{
    .contact{
        margin-bottom: 5vh;
        .title{
            padding: 1.5rem;
            background-color: $secon;
            color: #d9d9d9;
            text-transform: uppercase;
        }
        .content{
            padding: 1.5rem;
            background-color: $secDark;
            color: #d9d9d9;
            border: $secon 1px solid;
            .contactForm{
                display: flex;
                flex-direction: column;
                align-items: center;
                .contact-name{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    input{
                        width: 91%;
                        background-color: $secon;
                        border: 2px solid $prim;
                        padding: 1.5vh;
                        margin-bottom: 2vh;
                        font-size: 1rem;
                        color: white;
                        &::placeholder{
                            color: white;
                        }
                    }
                }
                .contact-message{
                    margin-bottom: 2vh;
                    textarea{
                        background-color: $secon;
                        border: 2px solid $prim;
                        padding: 1.5vh;
                        font-size: 1rem;
                        color: white;
                        resize: none;
                        &::placeholder{
                            color: white;
                        }
                    }
                }
                .contact-validate{
                    input{
                        border: 2px solid $prim;
                        padding: 1.5vh;
                        margin-bottom: 2vh;
                        font-size: 1rem;
                        color: white;
                        background-color: $secDark;
                        cursor: pointer;
                        &:hover{
                            background-color: $contrast;
                            color: black;
                        }
                    }
                }
            }
        }
    }
    form{
        .wpcf7-response-output{
            padding: 1.5rem;
            background-color: $secDark;
            color: #d9d9d9;
            border: $secon 1px solid;
        }
    }
}
.right{
    .contactInfo{
        .title{
            padding: 1.5rem;
            background-color: $secon;
            color: #d9d9d9;
            text-transform: uppercase;
        }
        .content{
            padding: 1.5rem;
            background-color: $secDark;
            color: #d9d9d9;
            border: $secon 1px solid;
            div{
                margin-bottom: 2vh;
            }
        }
    }
}

.map{
    height: 50vh;
}