@import 'color';

footer{
    .socialNetwork{
        background-color: $secon;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vw;
        color: #d9d9d9;
        padding: 10vh 0;
        .fa-brands{
            font-size: 3rem;
            p{
                text-align: center;
                font-size: 0.6rem;
                margin-top: 3vh;
            }
        }
        @media only screen and (max-width: 768px) {
            gap: 5vw;
        }
    }
    .CGU{
        text-align: center;
        background-color: black;
        padding: 5vh 0;
        a{
            color: #d9d9d9;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}