.article{
    .title{
        padding: 1.5rem;
        background-color: $secon;
        color: #d9d9d9;
        text-transform: uppercase;
    }
    .content{
        padding: 1.5rem;
        background-color: $secDark;
        color: #d9d9d9;
        border: $secon 1px solid;
        margin-bottom: 2vh;
        img{
            width: 100%;
        }
        .flexInfo{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 3.5rem;
            span{
                background-color: $contrast;
                color: black;
                padding: 0.5rem 1.2rem;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
        .text{
            text-align: justify;
            padding: 5vh 0 10vh 0;
            border-bottom: $secon 3px solid;
            line-height: 18px;
            p{
                margin: 2.5vh 0;
            }
        }
    }
}
.author{
    @media only screen and (max-width: 768px) {
        margin-bottom: 2vh;
    }
    .title{
        padding: 1.5rem;
        background-color: $secon;
        color: #d9d9d9;
        text-transform: uppercase;
    }
    .content{
        padding: 1.5rem;
        background-color: $secDark;
        color: #d9d9d9;
        border: $secon 1px solid;
    }
    .authorContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
        .textContent{
            width: 70%;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            h3{
                font-size: 3rem;
                margin-bottom: 1.2rem;
                font-family: 'Spectral SC', serif;
            }
        }
    }
}